body {
    background: url(img/background/background.png);
}


@font-face {
    font-family: "A Kittens Silhouette Alen Rus";
    src: url(fonts/A_Kittens_Silhouette_Alen_Rus.otf);
}

.first {
    font-family: "A Kittens Silhouette Alen Rus";
    font-size: xx-large;
}

h1,
h2,
h3,
h5,
caption {
    font-family: "A Kittens Silhouette Alen Rus";
}


/*Добавлен подключенный шрифт для заголовков*/

h2 {
    background-color: #9f9d9d5e;
}

ul {
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}

ul a {
    color: rgb(33, 28, 35);
    font-style: italic;
    text-decoration: none;
}

a:hover {
    color: rgba(236, 65, 182, 0.53);
}

.products {
    color: #484343;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-decoration: none;

}

.product img {
    border: 1px solid black;
    width: 300px;
    height: 300px;
}



ol {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    list-style-type: none;
    list-style-image: url(img/pawmarker.png);

}

/* Маркеры данного списка на страницах товаров отображаются в виде лапки с сердечком */


.links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.links img {
    width: 200px;
    height: 200px;
    border: 1px;
    color: black;
}

/* Добавь text-transform: capitalize */
input {
    width: 300px;
    font-style: normal;
    color: rgb(49, 48, 48);

}

/* Удали text-transform: capitalize */
input:focus {
    background-color: rgb(225, 188, 188);
    text-transform: capitalize;
}

/*
    Ширины td должна быть равна 16.6 т.к. tr занимает 100% ширины таблицы 100 / 6 = 16.6 
    При ширине 10% первые 5 ячеек занимают ширину 10%, а последняя растягивается до 100% ширины т.е. больше 10%
    Это можно проверить нажав на F12 вкладке Elements при наведении на каждую ячейку td посмотреть её размер
*/
.table1 td {
    border: 1px solid black;
    width: 10%;
    height: 20px;
    text-align: center;
}


/* Есть класс .table примени эти стили к нему */
table {
    border-collapse: collapse;
    width: 70%;
}

/* table2 td полностью повторяет стили table1 td - это значит что нужно удалить table2 td */
.table2 td {
    border: 1px solid black;
    width: 10%;
    height: 20px;
    text-align: center;
}